{% extends 'base.html' %}

{% block content %}
<div class="doc">
    <h2>Welcome to Music Player</h2>

    <h4>The music player creates a web server that looks for audio files in the host computer and creates an API to play
        the songs remotely.
        It is intent to be used in a local network.
    </h4>

    <hr>

    <h3>TODO:</h3>

    <h3>1. Show Library</h3>
    <p>Look for mp3, wav, ogg files in the host pc and return a list of songs that can be played</p>

    <h3>2. Create Playlist</h3>
    <p>Let the user add songs to playlist and save the playlist</p>

    <h3>2. Control Player</h3>
    <p>The user will control the player (play, pause, stop, next and back)</p>

</div>

{% endblock %}
